/*-----------------------------------------------------------------------------------
	Tinkado
	About: A shiny new Blocs website.
	Author: Ines Buchetics
	Version: 1.0
	Built with Blocs
-----------------------------------------------------------------------------------*/
body{
	margin:0;
	padding:0;
    background:#FFFFFF;
    overflow-x:hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.page-container{overflow: hidden;} /* Prevents unwanted scroll space when scroll FX used. */
a,button{transition: background .3s ease-in-out;outline: none!important;} /* Prevent blue selection glow on Chrome and Safari */
a:hover{text-decoration: none; cursor:pointer;}
.scroll-fx-lock-init{position:fixed!important;top: 0;bottom: 0;left: :0;right: 0;z-index:99999;} /* ScrollFX Lock */
.blocs-grid-container{display: grid!important;grid-template-columns: 1fr 1fr;grid-template-rows: auto auto;column-gap: 1.5rem;row-gap: 1.5rem;} /* CSS Grid */
nav .dropdown-menu .nav-link{color:rgba(0,0,0,0.6)!important;} /* Maintain Downdown Menu Link Color in Navigation */
[data-bs-theme="dark"] nav .dropdown-menu .nav-link{color:var(--bs-dropdown-link-color)!important;} /* Maintain Downdown Menu Link Color in Navigation in Darkmode */


/* Preloader */

.page-preloader{position: fixed;top: 0;bottom: 0;width: 100%;z-index:100000;background:#FFFFFF url("img/pageload-spinner.gif") no-repeat center center;animation-name: preloader-fade;animation-delay: 2s;animation-duration: 0.5s;animation-fill-mode: both;}
.preloader-complete{animation-delay:0.1s;}
@keyframes preloader-fade {0% {opacity: 1;visibility: visible;}100% {opacity: 0;visibility: hidden;}}

/* = Blocs
-------------------------------------------------------------- */

.bloc{
	width:100%;
	clear:both;
	background: 50% 50% no-repeat;
	padding:0 20px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position:relative;
	display:flex;
}
.bloc .container{
	padding-left:0;
	padding-right:0;
}


/* Sizes */

.bloc-lg{
	padding:100px 20px;
}
.bloc-md{
	padding:50px 20px;
}
.bloc-sm{
	padding:20px;
}


/* Light theme */

.d-bloc .card,.l-bloc{
	color:rgba(0,0,0,.5);
}
.d-bloc .card button:hover,.l-bloc button:hover{
	color:rgba(0,0,0,.7);
}
.l-bloc .icon-round,.l-bloc .icon-square,.l-bloc .icon-rounded,.l-bloc .icon-semi-rounded-a,.l-bloc .icon-semi-rounded-b{
	border-color:rgba(0,0,0,.7);
}
.d-bloc .card .divider-h span,.l-bloc .divider-h span{
	border-color:rgba(0,0,0,.1);
}
.d-bloc .card .a-btn,.l-bloc .a-btn,.l-bloc .navbar a,.l-bloc a .icon-sm, .l-bloc a .icon-md, .l-bloc a .icon-lg, .l-bloc a .icon-xl, .l-bloc h1 a, .l-bloc h2 a, .l-bloc h3 a, .l-bloc h4 a, .l-bloc h5 a, .l-bloc h6 a, .l-bloc p a{
	color:rgba(0,0,0,.6);
}
.d-bloc .card .a-btn:hover,.l-bloc .a-btn:hover,.l-bloc .navbar a:hover, .l-bloc a:hover .icon-sm, .l-bloc a:hover .icon-md, .l-bloc a:hover .icon-lg, .l-bloc a:hover .icon-xl, .l-bloc h1 a:hover, .l-bloc h2 a:hover, .l-bloc h3 a:hover, .l-bloc h4 a:hover, .l-bloc h5 a:hover, .l-bloc h6 a:hover, .l-bloc p a:hover{
	color:rgba(0,0,0,1);
}
.l-bloc .navbar-toggle .icon-bar{
	color:rgba(0,0,0,.6);
}
.d-bloc .card .btn-wire,.d-bloc .card .btn-wire:hover,.l-bloc .btn-wire,.l-bloc .btn-wire:hover{
	color:rgba(0,0,0,.7);
	border-color:rgba(0,0,0,.3);
}

/* Row Margin Offsets */

.voffset{
	margin-top:30px;
}
.voffset-md{
	margin-top:50px;
}


/* = NavBar
-------------------------------------------------------------- */

/* Navbar Icon */
.svg-menu-icon{
	fill: none;
	stroke: rgba(0,0,0,0.5);
	stroke-width: 2px;
	fill-rule: evenodd;
}
.navbar-dark .svg-menu-icon{
	stroke: rgba(255,255,255,0.5);
}
.menu-icon-thin-bars{
	stroke-width: 1px;
}
.menu-icon-thick-bars{
	stroke-width: 5px;
}
.menu-icon-rounded-bars{
	stroke-width: 3px;
	stroke-linecap: round;
}
.menu-icon-filled{
	fill: rgba(0,0,0,0.5);
	stroke-width: 0px;
}
.navbar-dark .menu-icon-filled{
	fill: rgba(255,255,255,0.5);
}
.navbar-toggler-icon{
	background: none!important;
	pointer-events: none;
	width: 33px;
	height: 33px;
}
/* Handle Multi Level Navigation */
.dropdown-menu .dropdown-menu{
	border:none}
@media (min-width:576px){
	
.navbar-expand-sm .dropdown-menu .dropdown-menu{
	border:1px solid rgba(0,0,0,.15);
	position:absolute;
	left:100%;
	top:-7px}.navbar-expand-sm .dropdown-menu .submenu-left{
	right:100%;
	left:auto}}@media (min-width:768px){
	.navbar-expand-md .dropdown-menu .dropdown-menu{
	border:1px solid rgba(0,0,0,.15);
	border:1px solid rgba(0,0,0,.15);
	position:absolute;
	left:100%;
	top:-7px}.navbar-expand-md .dropdown-menu .submenu-left{
	right:100%;
	left:auto}}@media (min-width:992px){
	.navbar-expand-lg .dropdown-menu .dropdown-menu{
	border:1px solid rgba(0,0,0,.15);
	position:absolute;
	left:100%;
	top:-7px}.navbar-expand-lg .dropdown-menu .submenu-left{
	right:100%;
	left:auto}
}
/* = Bric adjustment margins
-------------------------------------------------------------- */

.mg-clear{
	margin:0;
}
.mg-sm{
	margin-top:10px;
	margin-bottom:5px;
}
.mg-md{
	margin-top:10px;
	margin-bottom:20px;
}
.mg-lg{
	margin-top:10px;
	margin-bottom:40px;
}
img.mg-sm,img.mg-md,img.mg-lg{
	margin-top: 0;
}
img.mg-sm{
	margin-bottom:10px;
}
img.mg-md{
	margin-bottom:30px;
}
img.mg-lg{
	margin-bottom:50px;
}

/* = Buttons
-------------------------------------------------------------- */

.btn-d,.btn-d:hover,.btn-d:focus{
	color:#FFF;
	background:rgba(0,0,0,.3);
}

/* Prevent ugly blue glow on chrome and safari */
button{
	outline: none!important;
}


/* = Icons
-------------------------------------------------------------- */
.icon-sm{
	font-size:18px!important;
}
.icon-md{
	font-size:30px!important;
}

/*  Rounded Image */
.img-rd-md{
	border-radius:20px;
}
.img-rd-lg{
	border-radius:34px;
}



.card-sq, .card-sq .card-header, .card-sq .card-footer{
	border-radius:0;
}
.card-rd{
	border-radius:30px;
}
.card-rd .card-header{
	border-radius:29px 29px 0 0;
}
.card-rd .card-footer{
	border-radius:0 0 29px 29px;
}

/* = Classic Dividers
-------------------------------------------------------------- */
.divider-h{
	min-height: 1px;
	background-color:rgba(0,0,0,.2);
	margin: 20px 0;
}
.divider-half{
	width: 50%;
}
.dropdown-menu .divider-h{
	margin:0;
}



.carousel-nav-icon{
	fill: none;
	stroke: #fff;
	stroke-width: 2px;
	fill-rule: evenodd;
	stroke-linecap:round;
}


/* ScrollToTop button */

.scrollToTop{
	width:36px;
	height:36px;
	padding:5px;
	position:fixed;
	bottom:20px;
	right:20px;
	opacity:0;
	z-index:999;
	transition: all .3s ease-in-out;
	pointer-events:none;
}
.showScrollTop{
	opacity: 1;
	pointer-events:all;
}
.scroll-to-top-btn-icon{
	fill: none;
	stroke: #fff;
	stroke-width: 2px;
	fill-rule: evenodd;
	stroke-linecap:round;
}
/* = Lightbox
-------------------------------------------------------------- */

a[data-lightbox]{
	position: relative;
	display: block;
	text-align: center;
}
a[data-lightbox]:hover::before{
	content:"+";
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial;
	font-size:32px;
	line-height: 42px;
	width:50px;
	height:50px;
	margin-left:-25px;
	border-radius: 50%;
	background:rgba(0,0,0,.5);
	color:#FFF;
	font-weight:100;
	z-index: 1;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}
a[data-lightbox]:hover img{
	opacity: 0.6;
	-webkit-animation-fill-mode: none;
	animation-fill-mode:none;
}
.lightbox-caption{
	padding: 20px;
	color: #FFF;
	background: rgba(0,0,0,.5);
	position: absolute;
	left: 16px;
	right: 16px;
	bottom: 0px;
}
.close-lightbox:hover,.next-lightbox:hover, .prev-lightbox:hover{
	background:rgba(0,0,0,.5);
}
.next-lightbox, .prev-lightbox,.close-lightbox{
	position: absolute;
	padding:6px;
	background:rgba(0,0,0,.3);
	line-height:0;
	transition: background .2s ease-in-out;
	border-radius:.25rem;
	border:none;
	z-index:20;
}
.next-lightbox, .prev-lightbox{
	top:45%;
}
.close-lightbox{
	top:20px;
	right:20px;
}
.next-lightbox{
	right:25px;
}
.prev-lightbox{
	left:25px;
}
.lightbox-prev-icon,.lightbox-next-icon,.lightbox-close-icon{
	fill:none;
	stroke: #fff;
	stroke-width: 3px;
	fill-rule: evenodd;
	stroke-linecap:round;
}
.lightbox-close-svg{
	pointer-events:none;
}

/* Framless */
.frameless-lb{
	border-radius: 0;
	border:none;
}
.frameless-lb .modal-body{
	padding:0;
}
.frameless-lb .lightbox-caption{
	left:0;
	right:0;
	bottom:-16px;
}

/* = Custom Styling
-------------------------------------------------------------- */

h1,h2,h3,h4,h5,h6,p,label,.btn,a{
	font-family:"Helvetica";
	color:rgba(0,0,0,0.70)!important;
}
.container{
	max-width:1140px;
}
.btn-color{
	color:#ffeeb6;
}
.navbar-brand img{
	height:100px;
}
.h1-style{
	font-size:20px;
	line-height:20px;
	font-family:"Gloria Hallelujah";
	font-weight:normal;
	text-decoration:none;
	padding-bottom:10px;
}
.img-bloc-0-style{
	width:100px;
	height:50px;
}
.img-2-style{
	height:50px;
}
.img-tinka-style{
	max-width:150px;
	min-width:120px;
	width:95%;
	background-color:transparent;
}
.p-bloc-0-style{
	font-size:5px;
	line-height:0px;
}
.link-margin{
	margin:5px 5px 5px 5px;
}
.container-div-style{
	min-height:60px;
}
.img-5-style{
	height:44px;
}
.margin-top{
	margin-top:15px;
}
.icon{
	background-size:auto auto;
	width:92%;
	max-width:50px;
}
.download-btn{
	border-style:none;
	max-width:133px;
	width:97%;
	overflow:visible;
	float:none;
}
.divider-padding{
	padding-top:0px;
	margin-top:0px;
}
.keywords{
	font-style:italic;
	text-decoration:none;
	font-size:12px;
	padding:10px 15px 10px 15px;
}
.menu{
	overflow:visible;
	background-position:left bottom;
	height:20px;
	margin-bottom:10px;
}
.logo{
	min-width:130px;
	max-width:250px;
	padding-bottom:5px;
	max-height:100px;
}
.p-1-style{
	line-height:16px;
}
.btns{
	margin-top:10px;
	margin-bottom:5px;
}
.mypadding{
	padding-left:5%;
	padding-right:5%;
}
.icons_contact{
	padding-top:15px;
	padding-bottom:15px;
}
.footer{
	font-weight:normal;
}
.footer_btn{
	color:#000000!important;
}
.contact{
	;
}
.info{
	width:95%;
}
.link-style{
	text-decoration:underline!important;
	margin-right:0px;
	overflow:visible;
}
.link-style:hover{
	color:#000000!important;
}
.zahnrad{
	min-width:50px;
	max-width:100px;
	text-shadow:0px 0px 0px #000000;
	opacity:0.2;
}
.soon{
	min-width:140px;
	max-width:180px;
}
.twitter{
	;
}
.press_btn{
	font-weight:600;
	font-family:"helvetica";
}
.twitter_btn{
	margin-bottom:15px;
	margin-top:5px;
}
.gallery{
	padding-bottom:30px;
}
.link-icon{
	padding-right:5px;
}
.notes{
	font-size:14px;
}
.facts{
	padding-bottom:40px;
}
.list-style{
	padding:1% 1% 1% 1%;
}
.award{
	max-width:100px;
	background-position:left bottom;
	padding-bottom:5px;
}
.whatsnew{
	padding-left:15px;
	padding-right:15px;
	background-color:rgba(255,255,255,0.60);
}
.bgcolor{
	background-color:rgba(0,0,0,0.11);
}
.test{
	padding-top:0px;
	padding-bottom:15px;
}
.txt-padding{
	padding-top:0px;
	padding-bottom:15px;
}
.img-style{
	;
}
.img-lego-walk-cyc-style{
	height:200px;
	width:200px;
	border-radius:226.5px 226.5px 226.5px 226.5px;
}
.bloc-divider-b-feature-fill{
	fill:var(--swatch-var-4628);
	height:40px;
}
.datum-style{
	font-size:12px;
	color:var(--swatch-var-4992)!important;
	text-align:right;
	font-family:"Helvetica";
	margin-top:2px;
}
.page-heading{
	font-weight:bold;
	text-align:center;
}
.primary-btn{
	min-width:150px;
	border-color:var(--swatch-var-4992)!important;
	border-radius:0px 0px 0px 0px;
	border-style:solid;
	color:var(--swatch-var-4992)!important;
	border-width:1px 1px 1px 1px;
	background-color:var(--swatch-var-2798);
	text-transform:none;
	text-decoration:none;
}
.primary-btn:hover{
	text-transform:none;
	color:var(--swatch-var-3682)!important;
	border-color:var(--swatch-var-3022)!important;
	text-decoration:none;
	background-color:var(--swatch-var-456);
}
.primary-full-stop::after{
	content:".";
	color:var(--swatch-var-5688)!important;
}

/* = Colour
-------------------------------------------------------------- */

/* Swatch Variables */
:root{
	
	--swatch-var-116:#7F7F7F;
	
	--swatch-var-3682:#FEFFFF;
	
	--swatch-var-3229:#FFE89D;
	
	--swatch-var-1664:rgba(255,255,255,1.0);
	
	--swatch-var-6047:#FFFFFF;
	
	--swatch-var-4484:#FC5246;
	
	--swatch-var-3577:#FFF6D8;
	
	--swatch-var-88:#E1FFFF;
	
	--swatch-var-5698:#FFDAB5;
	
	--swatch-var-1103:#FFE1C4;
	
	--swatch-var-2522:#1C2C3A;
	
	--swatch-var-2850:#FFE696;
	
	--swatch-var-7291:#EBC6AA;
	
	--swatch-var-2611:#FAEADD;
	
	--swatch-var-2777:#D79D20;
	
	--swatch-var-1133:rgba(0,0,0,0.70);
	
	--swatch-var-4220:#FFFFFF;
	
	--swatch-var-6567:#887768;
	
	--swatch-var-6809:#C0BEE7;
	
	--swatch-var-5490:#DDDCF2;
	
	--swatch-var-5503:#76748D;
	
	--swatch-var-2472:#F3D9E1;
	
	--swatch-var-3202:#FFE2C3;
	
	--swatch-var-7335:rgba(255,255,255,0.60);
	
	--swatch-var-1762:#FAEADD;
	
	--swatch-var-6646:#F7DCDA;
	
	--swatch-var-2215:#F8FEE3;
	
	--swatch-var-1747:#FCD1D3;
	
	--swatch-var-5309:#DDDBF1;
	
	--swatch-var-5901:#FFD4AA;
	
	--swatch-var-515:#50B079;
	
	--swatch-var-6279:#E5D8F3;
	
	--swatch-var-1362:#2D44B1;
	
	--swatch-var-1614:#FFE1C4;
	
	--swatch-var-7903:rgba(255,255,255,0.6);
	
	--swatch-var-1924:#2D44B1;
	
	--swatch-var-3022:rgba(255,255,255,0.55);
	
	--swatch-var-4088:#333333;
	
	--swatch-var-5688:#FF8B0B;
	
	--swatch-var-2798:#FFB73B;
	
	--swatch-var-4628:#FFEFDD;
	
	--swatch-var-4992:rgba(0,0,0,0.5);
	
	--swatch-var-456:#FFA30B;
	
	--swatch-var-6601:rgba(234,74,18,0.7);
	
}


/* Background colour styles */

.bgc-5901{
	background-color:var(--swatch-var-5901);
}
.bgc-1103{
	background-color:var(--swatch-var-1103);
}
.bgc-6809{
	background-color:var(--swatch-var-6809);
}
.bgc-5490{
	background-color:var(--swatch-var-5490);
}
.bgc-3202{
	background-color:var(--swatch-var-3202);
}
.bgc-7335{
	background-color:var(--swatch-var-7335);
}
.bgc-2472{
	background-color:var(--swatch-var-2472);
}
.bgc-6279{
	background-color:var(--swatch-var-6279);
}

/* Text colour styles */

.tc-2522{
	color:var(--swatch-var-2522)!important;
}
.tc-5503{
	color:var(--swatch-var-5503)!important;
}
.tc-1362{
	color:var(--swatch-var-1362)!important;
}
.tc-515{
	color:var(--swatch-var-515)!important;
}

/* Link colour styles */

.ltc-515{
	color:var(--swatch-var-515)!important;
}
.ltc-515:hover{
	color:#1D7D46!important;
}

/* Icon colour styles */

.icon-515{
	color:var(--swatch-var-515)!important;
	border-color:var(--swatch-var-515)!important;
}

/* Bloc image backgrounds */




/* = Bloc Padding Multi Breakpoint
-------------------------------------------------------------- */

@media (min-width: 576px) {
    .bloc-xxl-sm{padding:200px 20px;}
    .bloc-xl-sm{padding:150px 20px;}
    .bloc-lg-sm{padding:100px 20px;}
    .bloc-md-sm{padding:50px 20px;}
    .bloc-sm-sm{padding:20px;}
    .bloc-no-padding-sm{padding:0 20px;}
}
@media (min-width: 768px) {
    .bloc-xxl-md{padding:200px 20px;}
    .bloc-xl-md{padding:150px 20px;}
    .bloc-lg-md{padding:100px 20px;}
    .bloc-md-md{padding:50px 20px;}
    .bloc-sm-md{padding:20px 20px;}
    .bloc-no-padding-md{padding:0 20px;}
}
@media (min-width: 992px) {
    .bloc-xxl-lg{padding:200px 20px;}
    .bloc-xl-lg{padding:150px 20px;}
    .bloc-lg-lg{padding:100px 20px;}
    .bloc-md-lg{padding:50px 20px;}
    .bloc-sm-lg{padding:20px;}
    .bloc-no-padding-lg{padding:0 20px;}
}


/* = Mobile adjustments 
-------------------------------------------------------------- */
@media (max-width: 1024px)
{
    .bloc.full-width-bloc, .bloc-tile-2.full-width-bloc .container, .bloc-tile-3.full-width-bloc .container, .bloc-tile-4.full-width-bloc .container{
        padding-left: 0; 
        padding-right: 0;  
    }
}
@media (max-width: 991px)
{
    .container{width:100%;}
    .bloc{padding-left: constant(safe-area-inset-left);padding-right: constant(safe-area-inset-right);} /* iPhone X Notch Support*/
    .bloc-group, .bloc-group .bloc{display:block;width:100%;}
}
@media (max-width: 767px)
{
    .bloc-tile-2 .container, .bloc-tile-3 .container, .bloc-tile-4 .container{
        padding-left:0;padding-right:0;
    }
    .btn-dwn{
       display:none; 
    }
    .voffset{
        margin-top:5px;
    }
    .voffset-md{
        margin-top:20px;
    }
    .voffset-lg{
        margin-top:30px;
    }
    form{
        padding:5px;
    }
    .close-lightbox{
        display:inline-block;
    }
    .blocsapp-device-iphone5{
	   background-size: 216px 425px;
	   padding-top:60px;
	   width:216px;
	   height:425px;
    }
    .blocsapp-device-iphone5 img{
	   width: 180px;
	   height: 320px;
    }
}

@media (max-width: 991px){
	.icon{
		;
	}
	.img-tinka-style{
		min-width:120px;
	}
	.menu{
		height:20px;
	}
	.h1-style{
		font-size:20px;
	}
	.divider-padding{
		;
	}
	.mypadding{
		padding-right:5%;
		padding-left:5%;
	}
	.footer_btn{
		color:#000000!important;
	}
	.link-style{
		width:7.38%;
	}
	.zahnrad{
		opacity:1;
	}
	.download-btn{
		width:97%;
	}
	.mt-md-0{
	}
	.mt-md-4{
	}
	.list-style{
		padding:0% 0% 0% 0%;
	}
	.img-lego-walk-cyc-style{
		width:200px;
		height:200px;
		border-radius:257px 257px 257px 257px;
	}
	.bloc-divider-b-feature-fill{
		fill:var(--swatch-var-4628);
	}
	.datum-style{
		margin-top:2px;
	}
	
	/* MD Row Margin Offsets */
	.voffset-clear-md{
		margin-top:0;
	}
		.voffset-md{
		margin-top:30px;
	}
	
	/* MD Text Margin Offsets */
	.mg-sm-md{
		margin-top:10px;
		margin-bottom:5px;
	}
		.mg-clear-md{
		margin:0;
	}
	
}

@media (max-width: 767px){
	.icon{
		width:92%;
	}
	.divider-padding{
		;
	}
	.img-tinka-style{
		min-width:120px;
	}
	.menu{
		height:20px;
	}
	.mg-style{
	}
	.h1-style{
		font-size:20px;
	}
	.margin-top{
		;
	}
	.download-btn{
		max-width:133px;
	}
	.facts{
		padding-bottom:40px;
	}
	.link-style{
	}
	
	/* Small Row Margin Offsets */
	.voffset-sm{
		margin-top:30px;
	}
	
	/* Small Text Margin Offsets */
	.mg-sm-sm{
		margin-top:10px;
		margin-bottom:5px;
	}
		.mg-clear-sm{
		margin:0;
	}
	
}

@media (max-width: 575px){
	.img-tinka-style{
		min-width:120px;
		width:95%;
	}
	.btn{
	}
	.divider-padding{
		padding-bottom:30px;
		padding-top:0px;
	}
	.keywords{
		padding-right:10px;
	}
	.container-div-style{
		min-height:6px;
	}
	.menu{
		height:20px;
		border-style:none;
		border-color:rgba(0,0,0,0.00)!important;
		background-color:transparent;
	}
	.h1-style{
		line-height:20px;
		font-size:20px;
	}
	.margin-top{
		;
	}
	.logo{
		padding-bottom:5px;
		min-width:130px;
		max-width:200px;
	}
	.btns{
		margin-top:10px;
		margin-bottom:5px;
	}
	.footer-link{
		text-align:center;
	}
	.icons_contact{
		padding-top:13px;
	}
	.h3-style{
		font-size:24px;
	}
	.soon{
		max-width:180px;
		min-width:140px;
	}
	.press_btn{
		font-weight:normal;
	}
	.mt-1{
	}
	.gallery{
		padding-bottom:25px;
	}
	.h3-fliplit-press-style{
		font-size:22px;
	}
	.notes{
		font-size:14px;
		padding-top:3px;
	}
	.facts{
		padding-bottom:40px;
	}
	.award{
		max-width:70px;
		padding-bottom:5px;
	}
	.img-lego-walk-cyc-style{
		height:200px;
		width:200px;
	}
	.bloc-divider-b-feature-fill{
		height:40px;
	}
	.datum-style{
		margin-top:2px;
	}
	.page-heading{
		text-align:center;
	}
	.primary-btn{
		width:100%;
	}
	
	/* Mobile Row Margin Offsets */
	.voffset-xs{
		margin-top:30px;
	}
	
	/* Mobile Text Margin Offsets */
	.mg-sm-xs{
		margin-top:10px;
		margin-bottom:5px;
	}
		.mg-clear-xs{
		margin:0;
	}
	
}

